body {
	font-family: 'Titan One';
}

.background__image {
	background: linear-gradient(180deg, #c9c9c9 55.21%, #363636 100%);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
}

button {
	font: inherit;
	cursor: pointer;
}

.panel {
	background-color: var(--background-grey);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85vw;
	height: 80vh;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}