body {
	background-color: var(--background-dark-grey);
	font-family: 'Titan One';
}

button {
	font: inherit;
	cursor: pointer;
}

.panel {
	background-color: var(--background-grey);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85vw;
	height: 80vh;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}