/* For mobile phones: */
@media (min-width: 320px) {
	p {
		font-size: 15px;
	}
	h1, h2, h3  {
		font-size: 25px;
	}
}

/* For tablets: */
@media (min-width: 768px) {
	p {
		font-size: 18px;
	}

	h1, h2, h3 {
		font-size: 30px;
	}

	nav a {
		font-size: 25px;
	}

}

/* For desktop: */
@media (min-width: 1200px) {
	p {
		font-size: 20px;
	}

	h1, h2, h3  {
		font-size: 35px;
	}

	nav a {
		font-size: 30px;
	}

}

@media (min-width: 1700px) {
	p {
		font-size: 30px;
	}

	h1, h2, h3  {
		font-size: 50px;
	}

	nav a {
		font-size: 35px;
	}

}