/* Comment */

/* input[type=text]:invalid {
	border: red solid 1px;
}

.container {
	width: 15vw;
	display: flex;
	position: absolute;
	flex-direction: column;
	height: 30rem;
	left: 87.5%;
	top: 20%;
	transform: translateX(-50%);
	max-height: fit-content;
}

.container > label {
  text-align: center;
}

#newComment{
	background-color: lightgoldenrodyellow;
	border-radius: 10px;
	padding: .5rem;
	margin: .5rem;
	font-size: 1rem;
	font: inherit;
}

#addComments {
	width: 50%;
	padding: .5rem;
	background-color: var(--background-dark-grey);
	color: var(--font-color-white);
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black; 
	align-self: flex-end;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	margin: .2rem;
}

.wrapper > button {
	margin-right: 5px;
	padding: 5px;
	background-color: lightgoldenrodyellow;
	color: white;
} */

* {
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 10px;
}

input[type=text]:invalid {
	border: red solid 1px;
}

.container {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.container > label {
  text-align: center;
}
#comment{
	background-color: cornflowerblue;
}
#addComments {
	width: 20%;
	padding: 5px;
	background-color: darkblue;
	color: white;
	align-self: center;
}

.wrapper > button {
	margin-right: 5px;
	padding: 5px;
	background-color: darkblue;
	color: white;
} 