/* Comment */ 

.comment {
	width: 80vh;
	height: 40vw;
	display: flex;
	position: fixed;
	flex-flow: column nowrap;
	justify-content: center;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 45rem;
	color: var(--font-color-black);
}

textarea {
	border-radius: 15px;
	padding: 10px;
	font-size: 1.2rem;
}

.submit {
	border: solid 2px black;
	border-radius: 15px;
	padding: 1rem;
	margin: .5rem auto;
	background: white;
	width: 15vw;
	height: 5vh;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
}

.submit:hover {
	background: lightblue;
}