/* Header */

.header {
	width: 100%;
	height: 4em;
	position: fixed;
	background: #C5D1D9;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	padding: .3rem;
	display: inline;
}

nav a {
	text-decoration: none;
	color: var(--font-color-white);
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black; 
	display: inline-block;
	margin-left: 10rem;
	font-family: 'Bebas Neue'; 
}

a:hover {
	transform: scale(1.03);
	transition: 0.3s all ease-in-out;
}

.header__logo {
	background-color: var(--background-dark-grey);
	width: 13%;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	font-family: 'Sedgwick Ave Display'; 
	text-align: center;
}