/* Header */

.header {
	width: 100%;
	height: 3.5rem;
	background: var(--background-grey);
	text-align: center;
	font-size: 2rem;
	color: var(--font-color-white);
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
}