/* Rating */ 

.rating {
	display: flex;
	flex-direction: row-reverse;
	position: fixed;
	height: 5em;
	left: 85%;
	top: 8%;
	transform: translateX(-50%);
	padding: .5rem;
	border-radius: 10px;
	margin: .5rem;
}

.rating__text {
	width: 40vw;
	height: 40vh;
	font-size: 1rem;
	color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	text-align: center;
	margin-top: 18rem;
}     

input[type=radio] {
	display: none;
}

label svg {
	width: 4rem;
	height: 3.5rem;
}

label svg polygon {
	fill: white;
	transition: 0.2s all ease-in-out;
}

input:not(:checked) ~ label:hover svg polygon,
input:not(:checked) ~ label:hover ~ label svg polygon {
	fill: lightblue;
	transform: scale(1.07);
}

input:checked ~ label svg polygon {
	fill: lightblue;
	transform: scale(1.07);
}