/* Rating */ 

.rating {
	display: flex;
	position: fixed;
	justify-content: center;
	height: fit-content;
	width: 15vw;
	object-fit: cover;
	left: 87%;
	top: 8%;
	transform: translateX(-50%);
	padding: .5rem;
	margin: .5rem;
	border-radius: 10px;
	background-color: var(--background-dark-grey);
	box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
	
.rating__item {
	font-size: 2.5rem;
	color: #FFD467;
	padding: 0;
	border: none;
	background: none;
}

.rating__item:hover {
	transition: 0.2s all ease-in-out;
	transform: scale(1.05);
	text-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

/* stars full */

.rating__item::before {
	content: "\2605";
}
	
/* Make until the clicked star (the rest) empty */

.rating__item.active ~ .rating__item::before {
	content: "\2606";
}
	
/* stars full on hover */

.rating__item:hover .rating__item::before {
	content: "\2605";
}
	
/* make until the hovered (the rest) empty */

.rating__item:hover ~ .rating__item::before {
	content: "\2606";
}